<html>
    <head>
        <title> Message details </title>
    </head>

    <body>
        <h2> Message Details </h2>
        <ul>
            <li> sender: <%= message.user %> </li>
            <li> text: <%= message.text %> </li>
            <li> sent on: <%= message.added %> </li>
        </ul>
        <a href="/"> <button> Back </button> </a>
    </body>
</html>